<!DOCTYPE html>
<html>
<head>
    <title>Вход - PR-WEB</title>
</head>
<body>
    <h1>Вход</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.username.label }}<br>{{ form.username(size=32) }}</p>
        <p>{{ form.password.label }}<br>{{ form.password(size=32) }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>Нет аккаунта? <a href="{{ url_for('register') }}">Регистрация</a></p>
</body>
</html>
