<!DOCTYPE html>
<html>
<head>
    <title>Регистрация - PR-WEB</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.username.label }}<br>{{ form.username(size=32) }}</p>
        <p>{{ form.password.label }}<br>{{ form.password(size=32) }}</p>
        <p>{{ form.confirm_password.label }}<br>{{ form.confirm_password(size=32) }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>Уже есть аккаунт? <a href="{{ url_for('login') }}">Войти</a></p>
</body>
</html>
